@import "tailwindcss";
@import "@heroui/styles"; 


:root {
  --primary-color: oklch(44.6% 0.043 257.281);
  --background-color: oklch(92.9% 0.013 255.508);
  --button-text: white;
}

body {
  background: var(--background-color);
}

@theme {
  --color-primary: oklch(44.6% 0.043 257.281);
  --color-background: oklch(92.9% 0.013 255.508);
}